dashboard/node-red-flows.json
[
  {
    "id": "b822ca90a5c8aa26",
    "type": "tab",
    "label": "Fluxo - EcoWork",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d7a3b001c2866810",
    "type": "mqtt in",
    "z": "b822ca90a5c8aa26",
    "name": "",
    "topic": "ecowork/sala01",
    "qos": "2",
    "datatype": "json",
    "broker": "047f5337e98a0830",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [
      [
        "881b755260fcff62",
        "8d950a083ad7c307",
        "750db0d521819272",
        "a3dc880d6e5c49bc"
      ]
    ]
  },
  {
    "id": "881b755260fcff62",
    "type": "change",
    "z": "b822ca90a5c8aa26",
    "name": "Extrair Temp.",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.temp",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 290,
    "y": 260,
    "wires": [["e673fd957ad68b63"]]
  },
  {
    "id": "8d950a083ad7c307",
    "type": "change",
    "z": "b822ca90a5c8aa26",
    "name": "Extrair Luz Nat.",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.luz_nat",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 220,
    "wires": [["d299e0bce68b68ac"]]
  },
  {
    "id": "750db0d521819272",
    "type": "change",
    "z": "b822ca90a5c8aa26",
    "name": "Extrair Luz Art.",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.luz_art",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 180,
    "wires": [["d6054349286cf1b0"]]
  },
  {
    "id": "a3dc880d6e5c49bc",
    "type": "change",
    "z": "b822ca90a5c8aa26",
    "name": "Extrair Status.",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.status",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 140,
    "wires": [["c855013ce461e5a8"]]
  },
  {
    "id": "e673fd957ad68b63",
    "type": "ui_gauge",
    "z": "b822ca90a5c8aa26",
    "name": "",
    "group": "0512b3745f2e1d9b",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperatura",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "50",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 470,
    "y": 300,
    "wires": []
  },
  {
    "id": "d299e0bce68b68ac",
    "type": "ui_gauge",
    "z": "b822ca90a5c8aa26",
    "name": "",
    "group": "0512b3745f2e1d9b",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Luz Natural.",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 470,
    "y": 240,
    "wires": []
  },
  {
    "id": "d6054349286cf1b0",
    "type": "ui_chart",
    "z": "b822ca90a5c8aa26",
    "name": "",
    "group": "0512b3745f2e1d9b",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Consumo LED (PWM).",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "255",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 520,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "c855013ce461e5a8",
    "type": "ui_text",
    "z": "b822ca90a5c8aa26",
    "group": "0512b3745f2e1d9b",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Status da Sala.",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 520,
    "y": 100,
    "wires": []
  },
  {
    "id": "047f5337e98a0830",
    "type": "mqtt-broker",
    "name": "Broker - Demetrius (GS)",
    "broker": "44.223.43.74",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "0512b3745f2e1d9b",
    "type": "ui_group",
    "name": "EcoWork",
    "tab": "b4fe66ed30c6a94a",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "b4fe66ed30c6a94a",
    "type": "ui_tab",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "073b1fc3b632b29e",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-dashboard": "3.6.6"
    }
  }
]
